.hay{
    background-color: rgb(145, 145, 255);
    text-align: center;
    border-radius: 15px;
    border: 2px solid red;
}
.hey{
    color: brown;
}
.huy{
    color: rgb(56, 111, 0);
}
.hoy{
    color:rgb(56, 111, 0);
    text-align: center;
    background-color: yellow;
}
.hby{
    color: rgb(56, 111, 0);
    text-align: center;
    background-color: yellow;
}
.dava{
    color: rgb(56, 111, 0);
}
.dan{
    width: 100% ;
}
.dyn{
    color: rgb(56, 111, 0);
}
.buts{
    background-color: rgb(145, 145, 255);
    color: white;
    width: 25%;
    height: 30px;
    border: 10px solid rgb(145, 145, 255);
    
}
.duy{
    color: rgb(56, 111, 0);
    background-color: yellow;
    text-align: center;
}
.f{
    color: white;
    background-color: rgb(56, 111, 0);
}
.e{
    color: white;
    background-color: blue;
}
.d{
    color: white;
    background-color: red;
}
.c{
color: white;
background-color: black;
}
.b{
    color: white;
    background-color: red;
}
.a{
    color: white;
    background-color: black;
}
table{
    border-collapse: collapse;
}
.moy{
    width: 100%;
    text-align: center;
}